header {
    background-color: rgba(255, 255, 255, 0.744);
    padding:1rem 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.07);
}
header h1 {
    font-size: 2.5rem;
    /* font-family: "DM Serif Display", serif; */
    text-transform: uppercase;
}